Vagrant.configure(2) do |config|
    config.vm.communicator = "winrm"
    config.winrm.username = "vagrant"
    config.winrm.password = "Fractalsol365"
    config.winrm.transport = :plaintext
    config.winrm.basic_auth_only = true
    config.vm.synced_folder ".", "/vagrant", disabled: true
end